body{
  font-size: 20px;
  font-family:sans-serif;
  font-style: oblique;
  background-color: white;
}
body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.player-console {
  diplay:none
}
p{
  font-style: italic;
  font-family: cursive;
   font-size: 50px;
}
h5{
  font-style: normal;
  font-family: sans-serif;
  font-size: 10px;
}
h6{
  font-style: oblique;
  font-family: cursive;
  font-size: 50px;
}
